body {
    display: flex;
    flex-direction: row;
    height:100vh;
    justify-content: center;
    background-color: #4d4d4d;
}
nav {
    display: flex;
    flex-direction: column;
    border-right: solid grey 2px;
    height: 100%;
    width:15%;
    min-width: 200px; ;
    max-width: 300px; ;
    margin-left: 1%;
    margin-right: 3%;
}

.meny {
    display: flex;
    border-top: solid grey 2px;
    padding: 5px;
    margin-right: 15px;
    text-decoration: none;
    color: darkgray;

}
.meny-bottom {
    display: flex;
    border-bottom: solid grey 2px;
    border-top: solid grey 2px;
    padding: 5px;
    margin-right: 15px;
    text-decoration: none;
    color: darkgray;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.rubrik {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    
}
.pic {
    justify-content: center;
    display: flex;
}

.a1{
    padding: 10 px;
    margin-left: 5px;
    margin-right:5px;
    width: 25%;
    height: 100%;
}
.a1box{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;

}
.a3{
    padding: 10 px;
    margin: 5px;
    border: solid grey 2px;
    width: 25%;
    height: 90%;
}

.a1pic {
    width: 100%;
    height: 100%;
    border: dashed black 2px;
}
.articlemessg {
    font-style: italic;
    font-family: fantasy;
    border: solid black 2px;
    width: 270px;
}
.article {
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
}
.info1{
    flex-direction: column;
    display: 
}