body {
    display: flex;
    flex-direction: row;
    height:100vh;
    justify-content: center;
    background-color: #4d4d4d;
}
nav {
    display: flex;
    flex-direction: column;
    border-right: solid grey 2px;
    height: 100%;
    width:15%;
    margin-left: 2%;
    margin-right: 3%;
    margin-top: 2%;
}

.meny {
    display: flex;
    border-top: solid grey 2px;
    padding: 5px;
    margin-right: 15px;
    text-decoration: none;
    color: darkgray;

}
.meny-bottom {
    display: flex;
    border-bottom: solid grey 2px;
    border-top: solid grey 2px;
    padding: 5px;
    margin-right: 15px;
    text-decoration: none;
    color: darkgray;
}
.container {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.rubrik {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    
}
.pic {
    justify-content: center;
    display: flex;
}